@model List<CarViewModel>
@{
    ViewData["Title"] = "Cars Page";
}

<div class="text-center mb-5">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>
<div class="container">
    <div class="mb-3 d-flex justify-content-center">
        <a asp-controller="Cars" asp-action="Add" class="btn btn-success col-6">
            Add New Car
        </a>
    </div>
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model)
                {
                    <tr>
                        <td>@car.Make</td>
                        <td>@car.Model</td>
                        <td>@car.Year</td>
                        <td>@car.Type.ToString()</td>
                        <td>
                            <a asp-controller="Cars" asp-action="Edit" asp-route-carId="@car.Id" class="btn btn-info">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a asp-controller="Cars" asp-action="Delete" asp-route-carId="@car.Id" class="btn btn-info red-background">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-danger">No cars found!</h3>
    }
</div>